{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/vue3-essential", "@vue/airbnb"],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "no-shadow": "off",
    "no-unused-vars": "warn",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "no-use-before-define": "off",
    "semi": "warn",
    "max-len": "off",
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "arrow-body-style": "off",
    "arrow-parens": "off"
  },
  "overrides": [
    {
      "files": ["**/__tests__/*.{j,t}s?(x)", "**/tests/unit/**/*.spec.{j,t}s?(x)"],
      "env": {
        "jest": true
      }
    }
  ]
}
